<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Services - Moderna Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Moderna - v4.8.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="/"><span>URASHOBOYE</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active " href="/">Home</a></li>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/campaign">Campaign</a></li>
          <li><a href="/comment">Posts</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="/courses/add">Create a Course</a></li>
          <li><a href="/doctor">Find a doctor</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>TESTIMONIALS</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>TESTIMONIALS</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Services Section -->



    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="assets/img/image2.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=Gws_2p3KszU&ab_channel=Attitude" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">who i am </a></h4>
              <p class="description">I am 28 year old single mother and I have a 6 year old son with cerebral palsy. it was an easy jorney but i am pulling through </p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">WE CAN DO THIS</a></h4>
              <p class="description">Right from diagnosis, the journey of parenting a child with a disability is full of unknowns. Expectations are challenged, some just hope for the best, while others are diagnosed with a foreign medical term. In this video episode of our parenting series, our mums talk about their experience with diagnosis.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Service Details Section ======= -->
    <section class="service-details">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-details-1.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">My own jorney</a></h5>
                <p class="card-text">It can be very difficult to have a child with special needs let alone have one whose needs are from an unknown origin. To the general public it is just not something that people can grasp. If you are sick, you are supposed to go to the doctor and they are supposed to figure out what is wrong. Most people don’t seem to understand that sometimes it does not happen.</p>
               
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-details-2.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Oh yes you are strong</a></h5>
                <p class="card-text">Justin was first diagnosed with a disability in the form of ADD (attention deficit disorder, now known as ADHD, or attention-deficit/hyperactivity disorder) at the age of 5 years. The diagnosis resulted in his removal from a regular classroom environment to special education courses. </p>
               
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-details-3.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">We can</h5>
                <p class="card-text">In 2013, when she was nine months old, Roxanne was hospitalized after experiencing major convulsions in her sleep. It was Christmas Eve. The doctors ran a bunch of tests but found nothing. In early 2015, they told us she had a global developmental delay, but it wasn’t until February 2016 that we were given the official diagnosis. Our little girl had an intellectual disability caused by a genetic mutation.
                  Not long after, the pediatrician came by and assured us that Ariane could have a very good life despite her handicap. Then, the audiologist discussed the option of cochlear implants to help her hear. We decided to go ahead with the operation.

                   I let Ariane and her determination carry me through. Of course, I was sad. I sang her lullabies knowing full well that she couldn’t hear me. That made me cry. I consulted a psychologist at the IRDPQ, the Quebec City rehab centre for people with physical disabilities. It felt good to talk to someone neutral.
                </p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-details-4.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">My dreams for my daughter were shattered overnight.</h5>
                <p class="card-text">My husband and I would take turns sitting by Ariane’s side at night while she was in the hospital. She had to do a hearing test because meningitis can cause hearing loss. I was sure that she was fine so I wasn’t worried. But during the test, I could tell from the look on the audiologist’s face that something was wrong. Then she told me, “I regret to inform you that your daughter is profoundly deaf in both ears. She’s 5 now and doing well. She even sees a positive side to her handicap : she can unplug her device to play quietly, in her bubble. It’s a good thing I learned sign language!
                  Looking back, I think we’re coping pretty well. After a lot of discussion, we decided that I would stay home to be with Roxanne for all of her appointments with her occupational therapist, physiotherapist, speech therapist, and so on. She has several appointments every week, and it’s these specialists that allow us to see our daughter’s progress.
                  In my opinion, now’s the time that she needs to be stimulated. It might mean sacrificing my career for a few years, but I want to give my daughter the best shot at reaching her full potential.

                 My husband is doing better and is in the process of returning to work. Living on just one salary makes things tougher, but we’ve come to the decision that our family’s well-being is more important than travelling or getting a new car. Ever since we made that choice, we’ve felt more at peace.
                </p>
               
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Service Details Section -->


    <section class="vh-100" style="background-color:  #e2ebf1;">
      <div class="vw-100 text-center">
        <h2 class="bm">Be Motivated</h2>
      </div>
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center h-100">
          <div class="col col-lg-6 mb-4 mb-lg-0">
            <figure class="text-center bg-white py-5 px-4 shadow-2" style="border-radius: .75rem;">
              <i class="far fa-gem fa-lg mb-4" style="color:  #9ebac9;"></i>
              <blockquote class="blockquote pb-2">
                <p>
                  <i class="fas fa-angle-double-left" style="color:  #68A4C4;"></i>
                  <span class="lead font-italic">“Today I choose life. Every morning when I wake up I can choose joy, happiness, negativity, pain… To feel the freedom that comes from being able to continue to make mistakes and choices – today I choose to feel life, not to deny my humanity but embrace it.” </span>
                  <i class="fas fa-angle-double-right" style="color:  #68A4C4;"></i>
                </p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0 font-italic">
                Kevyn Aucoin
              </figcaption>
            </figure>
          </div>
          <div class="col col-lg-6">
            <figure class="text-center bg-white py-5 px-4 shadow-2" style="border-radius: .75rem;">
              <i class="far fa-gem fa-lg mb-4" style="color:  #68A4C4;"></i>
              <blockquote class="blockquote pb-2">
                <p>
                  <i class="fas fa-angle-double-left" style="color:  #68A4C4;"></i>
                  <span class="lead font-italic">“my kid was slightly brain damaged at birth, and I want people like him to see that they shouldn’t let a disability get in the way. I want to raise awareness – I want to turn my disability into ability.” ―</span>
                  <i class="fas fa-angle-double-right" style="color:  #68A4C4;"></i>
                </p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0 font-italic">
                Susan Boyle
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      
    </section>
   <!-- ======= Footer ======= -->
   <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
 
    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Request for a quote</h4>
            <p>SUbscripe to our motivational quotes</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>
 
   
 
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Hackthon2022</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
        Designed by <a href="https://bootstrapmade.com/">ACE Team</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>